html,body{
    background-color: #242424;
    color: white;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p,a{
    margin: 0;
    padding: 0;
    font-family: Graphik,sans-serif;
    text-decoration: none;
}
.slice{
    position: absolute;
    background-color: #242424;
    left: 0;
    top: 550px;
    right: 0;
    bottom: auto;
    height: 100%;
    transform: skew(-7deg,0deg) rotate(-6.5deg);
}
.bgImg{
    height: 1000px;
    position: relative;
    overflow: hidden;
    background-image: url('../public/img/banner.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.wrapper{
    position: relative;
    background-color: transparent;
    background-image: none;
    width: 100%;
    max-width: 900px;
    margin: -620px auto 0 auto;
    height: auto;
}
/* #region Profile-Section*/
.profile-section{
    position: relative;
    background-color: #333333;
    box-shadow: 0 18px 45px 0 rgb(0 0 0 / 13%);
    align-items: center;
    text-align: center;
    height: auto;
    margin-bottom: 50px;
}
.profile-top{
    padding-bottom: 10px;
}
.profile-image-wrapper{
    position: relative;
    top: -70px;
    overflow: hidden;
    margin: 0 auto -60px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 8px 40px 0 rgb(0 0 0 / 21%);
}
.profile-image{
    height: 100%;
    width: 100%;
}
.profile-text{
    font-size: 40px;
    color: rgb(255 251 240);
    text-shadow: 3px 3px rgb(0 0 0 / 21%);
    font-weight: 500;
}
.profile-description{
    font-size: 14px;
    line-height: 20px;
}
.email-button-wrapper{
    padding: 25px 0;
    position: relative;
    display: flex;
    justify-content: center;
}
.email-button{
    border: 1px solid #929292;
    padding: 10px 13px 9px;
    color: #ffffff;
    display: flex;
}
.email-button:hover {
    border-color: #00B6FF;
}
.email-button:hover .email-button-text{
    color: #00B6FF;
}
.email-button:hover .email-image{
    transform: translateY(-3px);
}
.email-image{
    height: 18px;
    margin-right: 10px;
    filter: invert(100%);
    transition: 150ms;
}
.email-button-text{
    font-family: Graphik,sans-serif;
    color: #ffffff;
    font-weight: 400;
}
/* #endregion */
/* #region Link-Section*/
.link-section{
    height: auto;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}
.link-item-full{
    width: 100%;
}
.link-item{
    position: relative;
    box-sizing: border-box;
    background-color: #333333;
    margin-bottom: 20px;
    height: 75px;
    padding-left: 70px;
    align-items: center;
    display: flex;
}
.link-item-small{
    width: 49%;
}
.link-item:hover .link-icon-float{
    transform: translateY(-5px);
}
.link-item:hover .link-arrow{
    transform: translateX(+8px);
}
.link-icon-float{
    position: absolute;
    align-items: center;
    justify-content: center;
    left: -10px;
    display: flex;
    width: 60px;
    height: 60px;
    transition: 250ms;
}
.link-icon-float-img{
    position: absolute;
    border-radius: 2px;
}
.link-icon-beaon{
    position: absolute;
    width: 42px;
    height: 42px;
    opacity: 0.85;
    animation: op 2s ease infinite,tr 2s ease-out infinite;
    animation-name: scaling;
    border-radius: 3px;
}
@keyframes scaling{
    0%{
        transform: scaleX(1) scaleY(1);
        opacity: 0.85;
    }
    100%{
        transform: scaleX(2.5) scaleY(2.5);
        opacity: 0;
    }
}
.link-button{
    align-items: center;
    justify-content: space-between;
    width: 100%;
    display: flex;
    height: 80px;
    box-shadow: 0 14px 30px -5px rgb(0 0 0 / 13%);
    text-decoration: none;
}
.link-button-text{
    color: white;
    font-size: 18px;
}
.link-arrow-wrapper{
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.link-arrow{
    transition: 250ms;
    height: 12px;
}
/* #endregion */
/* #region Footer-Section*/
.footer-section{
    height: 50px;
    background-color: transparent;
    border-top: 1px solid #929292;
    align-items: center;
    position: relative;
    display: flex;
}
/* #endregion */
/* #region Responsive CSS*/
@media screen and (max-width: 995px) {
    .profile-section{
        background-color: transparent;
        box-shadow: none;
        top: -120px;
        margin-bottom: -100px;
    }
    .slice{
        transform: rotate(0);
        transform: translateY(-300px);
    }
    .wrapper{
        width: 85%;
    }
    .profile-image-wrapper{
        width: 150px;
        height: 150px;
    }
    .link-item{
        width: 100%;
    }
}
@media screen and (max-width: 450px) {
    .profile-section{
        background-color: transparent;
        box-shadow: none;
        top: -230px;
        margin-bottom: -225px;
    }
    .slice{
        transform: rotate(0);
        transform: translateY(-450px);
    }
    .wrapper{
        width: 85%;
    }
    .profile-image-wrapper{
        width: 100px;
        height: 100px;
    }
}
/* #endregion */